<div class="container">
  <h2>Welcome, <%= @user.name.capitalize %>!</h2>
  <h3>Your surveys....</h3>
  <ul id="your_surveys">
    <% @user.surveys.each do |survey| %>
      <li><a href="/survey/<%= survey.id %>"><%= survey.survey_name.capitalize %></a> | <a href="/results/<%= survey.id %>"><%= survey.survey_name.capitalize %> Results</a></li>
      <hr>
    <% end %>
  </ul>
</div>
