<div class="container">
  <h1>Survey <%= @survey.survey_name %></h1>

  <!-- Add a div here that only shows up when @questions.empty? and says "You haven't created any questions yet!"-->
  <form action="/new_answer" method="post">
    <% @questions.each do |question| %>
      <div class="question">
        <h4><%= question.content %></h4>
        <% question.options.each do |option| %>
          <input type="radio" name="<%= question.id %>" value="<%= option.id %>"> <%= option.content %><br>
        <% end %>
      </div>
    <% end %>

    <div id="new_questions"></div>
    <button type="submit">Submit survey</button>
    <input type="hidden" name="visitor_cookie" value="<%= @visitor_cookie %>">
</form>

  <% if session[:user_id] == @survey.user_id %>
    <p><hr></p>
    <form action="/new_question" id="new_question" method="post">
      <label for="content">Question: </label>
      <input type="text" name="content" placeholder="e.g., What's your faaaavorite dinosaur?">
      <label for="options">Options: </label>
      <input type="text" name="options" placeholder="e.g., pterodactyl, stegosaurus, t-rex">
      <input type="hidden" name="visitor_cookie" value="<%= @visitor_cookie %>">
      <input type="hidden" name="survey_id" value="<%= @survey.id %>">
      <button type="submit">Add Question to Your Survey</button>
    </form>
  <% end %>
</div>
