<div class="container">
  <h1>Survey <%= @survey.survey_name %></h1>

  <!-- Add a div here that only shows up when @questions.empty? and says "You haven't created any questions yet!"-->

  <% @questions.each do |question| %>
    <div class="question">
      <%= question.content %>
      <% question.options.each do |option| %>
        <%= option.content %>
      <% end %>
    </div>
  <% end %>

  <div id="new_questions"></div>

  <form action="/new_question" id="new_question" method="post">
    <label for="content">Question: </label>
    <input type="text" name="content" placeholder="e.g., What's your faaaavorite dinosaur?">
    <label for="options">Options: </label>
    <input type="text" name="options" placeholder="e.g., pterodactyl, stegosaurus, t-rex">
    <input type="hidden" name="visitor_cookie" value="<%= @visitor_cookie %>">
    <input type="hidden" name="survey_id" value="<%= @survey.id %>">
    <button type="submit">Add Question to Your Survey</button>
  </form>
</div>
